.headercolor {
  background: linear-gradient(149deg, rgba(146, 83, 48, 0.50) 36.06%, rgba(41, 104, 163, 0.00) 100%);
  box-shadow: 80px 80px 80px 80px rgba(0, 0, 0, 0.25);
  color: aliceblue;
}

.bgcolor {
  background: linear-gradient(149deg, rgba(0, 0, 0, 0.5) 36.06%, rgba(4, 5, 7, 0) 100%);
  box-shadow: 80px 80px 80px 80px rgba(0, 0, 0, 0.25);
}
.MinHeader {
  background: #6F584E;
  width: 522px;
  height: 224px;
  flex-shrink: 0;

}
.innerDiv {
  width: 442.857px;
  height: 199.159px;
  flex-shrink: 0;
  background: #6A4F41;
}


@media screen and (max-width: 550px) {
  /* CSS rules to apply when the screen width is 768 pixels or less */
  .MinHeader {
    width: 39px;
   height: 224px;
  
  }
  
  .innerDiv {
    width: 375.857px;
    height: 200.159px;
   
  }
}
